<!DOCTYPE html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="/static/js/sweetalert.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/sweetalert.css">
    <link rel="stylesheet" type="text/css" href="/static/css/other.css">
    <title>{{ routename }} - Utoo Your Daily commute</title>

    <meta content="{{ routename }} Daily travel to office at Rs.4/Km with Utoo-Your Daily Commute" property="og:title">

</head>


<body>

<center>
<img src="/static/images/2.gif" alt="This will display an animated GIF" />
<h1 class="sansserif">Your route {{ routename }} is now open</h1>

<form action="/customerjoin/{{ routeid }}/{{ routename }}/" method="POST">
    {% csrf_token %} 
    <p class="sansserif" style="font-weight:bold">Enter your 10 digit mobile number:</p>
    <input type="text" style="width: 300px; border:1.5px solid #D1005A;" name="mobile" maxlength="10" pattern="[0-9]{10}" title="Enter your 10 digit mobile number" required class="textfield"> <input type="submit" id="buttonpress" value="Join Route" class="submitbutton"> </form>
<br>
<br>
<br>
<p class="sansserif" style="font-weight:bold">There are currently {{ no_of_customers }} customers have joined this route</p>

</center>

<script>
document.getElementById("buttonpress").onclick = function() {
        swal({
                title: "Thank you for joining!",
                text: "Download our Utoo app at Playstore for onboarding",
                timer: 2000,
                showConfirmButton: false
        });
};
</script>
</body>
</html>
