<!DOCTYPE html>

<head>

    <title>{{ routename }} - Utoo Your Daily commute</title>

    <meta content="{{ routename }} Daily travel to office at Rs.4/Km with Utoo-Your Daily Commute" property="og:title">

</head>


<body>

<center>

<h1>Your route {{ routename }} is now open</h1>

<form action="/customerjoin/{{ routeid }}/{{ routename }}/" method="POST">
    {% csrf_token %} 
    Enter your 10 digit mobile number:<br>
    <input type="text" name="mobile" maxlength="10" pattern="[0-9]{10}" title="Enter your 10 digit mobile number" required> <input type="submit" value="Join Route"> </form>
<br>
<br>
<br>
<p>There are currently {{ no_of_customers }} customers have joined this route</p>

</center>

</body>
</html>
